body{
    background: #1B1B1B !important;
}
#footer-container{
    border-top: 1px solid #020106 !important;       /* This is kind of black*/
    background-color: #1B1B1B !important;
}
#footer-main{
    border-bottom: 1px solid #1B1B1B !important;
}
#appbar-guide-menu{
    background-color: #1B1B1B !important;
    border-right: 1px solid #020106 !important;
}
.guide-item{
    color: #F1F1F1 !important;
}
.guide-section-separator{
    border-bottom: 1px solid #020106 !important;
}
#content{
    background-color: #1B1B1B !important;
}
.branded-page-module-title a {
    color: #8D8D8D !important;
}
#watch7-sidebar .watch-sidebar-separation-line{
    border-bottom: 1px solid #F1F1F1 !important;
}
/*VIDEO PAGE SPECIFIC STUFF HERE */
#watch7-sidebar-contents{
    background-color: #1B1B1B !important;
}
.video-list .video-list-item .title{
    color: #8D8D8D !important;
}
.yt-card {
    background-color: #1B1B1B !important;
}
.yt-ui-ellipsis{
    background-color: #1B1B1B !important;
}
.branded-page-box, .section-list li .item-section .branded-page-box{
    border-bottom: 1px solid #020106 !important;
}
.compact-shelf .yt-uix-button-shelf-slider-pager{
    background-color: #1B1B1B !important;
}
#eow-title{
    color: #FFFFFF !important;
}
.feed-header {
    border-bottom: 1px solid #020106 !important;
}
/* this is the topbar*/
#masthead-appbar {
    border-bottom: 1px solid #020106 !important;
}
#masthead-positioner{
    background-color: #1B1B1B !important;
}
#masthead-positioner:hover #appbar-guide-button{
    background-color: #1B1B1B !important;
    border: 1px solid #1B1B1B !important;
}
#yt-masthead-container{
    background-color: #1B1B1B !important;
    border-bottom: 1px solid #020106 !important;
}

#masthead-search-terms {
    background-color: #8D8D8D !important;
}

#masthead-search-terms input {
    /* old stuff here, maby useful
    background-color: #858585 !important;
    background-image: linear-gradient(to top, #858585, #FFFFFF);
    text-shadow: 0 1px 1px #333 !important;*/
    color: #F1F1F1 !important;
    text-shadow: 0 1px 1px #333 !important;
}
#masthead-search-terms input::-webkit-input-placeholder {
    color: #333 !important;
    text-shadow: none !important;
}
.masthead-search-terms-border {
    border-color: #333 !important;
    box-shadow: inset 0 1px 2px #333 !important;
}
#search-btn{
    background-color: #B8B8B8 !important;
    border: 0px !important;
}

/* done with the topbar */
#watch-description{
    color: #8D8D8D !important;
}
.not-watch8 #watch7-user-header .yt-user-name, #watch7-user-header .yt-user-info a {
    color: #8D8D8D !important;
}
#appbar-nav{
    background-color: #1B1B1B !important;
}
.epic-nav-item-heading{
    color: #8D8D8D !important;
}
.yJa{
    background-color: #1B1B1B !important;
}
#watch-appbar-playlist .playlist-videos-list{
    background-color: #1B1B1B !important;
}
#watch-appbar-playlist .playlist-videos-list .yt-ui-ellipsis{
    background-color: inherit !important;
}
.search-header{
    border-bottom: 1px solid #020106 !important;
}
.yt-lockup .yt-lockup-meta a, .yt-lockup .yt-lockup-description a {
    color: #167AC6 !important;
}
.yt-badge-item{
    background-color: #167AC6 !important; /*<----------------------------new video badge, next to a title in a list*/
}
#appbar-guide-menu, .guide-flyout{
    background: none repeat scroll 0% 0% #1B1B1B !important;      /*----  the "More" section of the subscribers list*/
}
.guide-flyout{
    border: 1px solid #020106 !important;
}
.yt-gb-shelf-main-content{
    border: 1px solid #020106 !important;
    box-shadow: 0px 1px 2px #020106 !important;
}
.yt-uix-expander-ellipsis{
    background-color: #1B1B1B !important;
}
.yt-lockup-playlist-item {
    border-bottom: 1px solid #020106 !important;
}
#c4-header-bg-container{
    border-bottom: 1px solid #020106 !important;
}
.yt-card .yt-uix-button-expander{
    border-top: 1px solid #020106 !important;
}
#watch8-action-buttons{
    border-top: none !important;
}
.yt-ui-menu-content{
    background: none repeat scroll 0% 0% #1B1B1B !important;
    border: 1px solid #020106 !important;
}
.yt-card .yt-uix-tabs{
    border-bottom: 1px solid #020106 !important;
}
.branded-page-v2-subnav-container{
    border-bottom: 1px solid #020106 !important;
}
.feed-item-container.legacy-style .feed-item-main{
    border-bottom: 1px solid #020106 !important;
}
.pl-video{
    border-bottom: 1px solid #020106 !important;
}
.yt-card{
    box-shadow: none !important;
}
/*it seems this is not a valid css and causes errors*/
/*.yJa{*/
/*    background-color: none;*/
/*}*/

#watch7-sidebar .watch-sidebar-head{
    color: #8D8D8D  !important;
}
.nbc{  /* when you hover on a channel name */
    background-color: #1B1B1B;
}

.branded-page-module-title {
    color: #8D8D8D !important;   /* greyish kind of white, good for titles  */
}
/*Playlist page start */

#pl-header .pl-header-title{
    color: #8D8D8D !important;
}

.channel-header .branded-page-header-title .branded-page-header-title-link{
    color: #FFFFFF !important;
}

.pl-video-title-link{
    color: #8D8D8D !important;
}
/*Playlist page end */

.branded-page-related-channels h3 a, .branded-page-related-channels h3{
    color: #8D8D8D !important;
}
#action-panel-details a{
    color: #167AC6 !important;
}

.yt-ui-menu-item{
    color: #CC181E !important;
}
#vm-pagination{
    background: none;
}
.view-all-playlists #non-appbar-vm-video-actions-bar .vm-video-actions-inner{
    background-color: #1B1B1B !important;
}
#non-appbar-vm-video-actions-bar .vm-video-actions-inner{
    border-bottom: 1px solid #020106 !important;
}
.watch-card-list td{
    border-bottom: 1px solid #020106 !important;
}
.watch-card, .watch-card .yt-uix-tabs-selected,
.branded-page-v2-secondary-col .branded-page-related-channels-see-more a{
    color: #8D8D8D !important;
}

#watch7-sidebar .watch-sidebar-separation-line{
    border-color: #020106 !important;
}

#footer-links-primary a{
    color: #8D8D8D !important;
}

/* subscription_manager page*/
.subscription-manager-title{
    color: #8D8D8D !important;
}
.subscription-table-header{
    border-top: 1px solid #020106 !important;
}
#subscription-manager-container .subscription-item,
#subscription-manager-container .collection-item,
#subscription-manager-container .empty-message {
    border-top: 1px solid #020106 !important;
}
.feed-channel-header-title{
    color: #8D8D8D !important;
}
.yt-gb-compact-shelf{
    border: 1px solid #020106 !important;
    box-shadow: 0px 1px 2px #020106 !important;
}
#video-wall-container-v2{   /*the border beneath the right hand side ad on videopage*/
    border: none !important;
}

/* from alex, must fix the subscribe button */
.yt-lockup-title a {
    color: #ABABAB !important;
}
.yt-uix-button-content {
    color: #DDDDDD !important;
}

.yt-uix-button-default{
    border-color: #575757 !important;
    background: #424242 !important;
}
#comment-section-renderer .sprite-comment-actions{
    background-color: transparent !important;
}
/* from alex, must fix the subscribe button */

.yt-uix-button-subscribe-unbranded,
.yt-uix-subscription-button,
.yt-uix-button-subscribed-unbranded{
    border-color: #CCC !important;
    background: #E62117 !important;
}
.yt-uix-button-subscribe-unbranded:hover,
.yt-uix-subscription-button:hover,
.yt-uix-button-subscribed-unbranded:hover{
    border-color: #CCC !important;
    background: #B31217 !important;
}
#yt-masthead-user #sb-button-notify{
    background-color: #1B1B1B !important;   /*or inherit */
}

/*searches related to something*/
.search-shelf h3, .search-refinements h3{
    color: #F1F1F1 !important;
}
.search-refinements{
    border-color: #020106 !important;
}
.yt-alert-message{
    color: #DDDDDD !important;
}

.yt-alert-warn .yt-alert-message{
    /*alert message for private videos*/
    color: #020106 !important;
}

.yt-dialog-show-content .yt-dialog-content, .yt-dialog-show-loading .yt-dialog-loading,
.yt-dialog-show-working .yt-dialog-working, .yt-dialog-show-working .yt-dialog-content {
    color: #cc181e !important;
}

.watch-card-list tr:first-child td {
    border-top: 1px solid #020106 !important;
}

.search-header .num-results, .search-header .num-results strong,
.search-header .yt-uix-button-content, .watch-card a, .watch-card-meta li{
    color: #ABABAB !important;
}

/* The NEWSTYLE weird looking comments section*/
.all-comments, .all-comments a, .comments .channel-owner .comment-header .user-name{
    background: #1B1B1B !important;
}
.comment-text-content{
    color: #8d8d8d !important;
}
/* Kudos to Sephyr the following line ;) */
.comment-renderer-text-content{
    color: #8d8d8d !important;
}
.box{
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px #333 !important;
    background-color: #8d8d8d !important;
    border-color: #020106 !important;
}
.comments .paginator, .comments .paginator:hover{
    background: #424242 none !important;
    border: 1px solid #020106 !important;
    color: #FFFFFF !important;
}
.comment-source{
    color: #8d8d8d !important;
}
.callout-inner, .callout-outer{
    border: none !important;
}
/* End NEWSTYLE weird looking comments section*/

/*  Upload pages */
.metadata-editor-container .video-settings-form{
    background: none repeat scroll 0% 0% #1B1B1B !important;
}

#main-content .upload-item{
    border-color: #020106 !important;
}

.metadata-editor-container .subnav{
    border-bottom: 1px solid #020106 !important;
}
.yt-uix-form-input-textarea, .yt-chip {
    border: 1px solid #020106 !important;
}

.yt-chip {
    border: 1px solid #020106 !important;
    box-shadow: 0px 1px 0px #020106 !important;
}
.advanced-tab-option, .metadata-container h3, .thumb-placeholder, .sharing-networks-label{
    color: #8d8d8d !important;
}
.sharing-balloon{
    border: 1px solid #020106 !important;
}
.sharing-balloon::after, .sharing-balloon::before{
    border-right: 11px solid #020106 !important;
}
/* END Upload pages*/

/* theather mode player */
.watch-stage-mode #placeholder-player{
    background-color : #000000 !important;
}
/* carousels navigation*/
.browse-list-item-container:hover .compact-shelf .yt-uix-button-shelf-slider-pager,
.compact-shelf:hover .yt-uix-button-shelf-slider-pager{
    border: 1px solid #020106 !important;
}

/* account/settings pages*/
#creator-sidebar .creator-sidebar-section a,#creator-sidebar h3,
#creator-sidebar h3 a, #creator-sidebar .creator-sidebar-branding h1,
.live-welcome-features p, .live-welcome-feature-heading h3,
#creator-subheader h2, #creator-sidebar .creator-sidebar-section a:hover{
    color: #ABABAB !important;
}
/* END account/settings pages*/

.appbar-guide-notification-text-content{
    z-index: 999 !important;
}

/* Live stream comments area */
.live-chat-widget .comments-textarea{
    background-color: #8D8D8D !important;
    box-shadow: inset 0 1px 2px #333 !important;
    color: #F1F1F1 !important;
    text-shadow: 0 1px 1px #333 !important;
}
.live-chat-widget .comment, .live-chat-widget, #watch7-sidebar{
    background-color: #1B1B1B !important;
}
.live-chat-widget.has-padded-container #comments-scroller{
    border-bottom: 1px solid #E2E2E2 !important;  /* does not work, no ideea why*/
}
.live-chat-widget .comment .author a{
    color: #167AC6 !important;
}
.live-chat-widget .comment-text{
    color: #F1F1F1 !important;
}

.live-comments-emoji-picker-tab-row{
    background-color: #1B1B1B !important;
}
/* Live stream comments area */


/* viewer discretion page*/
#verify h2, #verify-details{
    color: #F1F1F1 !important;
}

/* View all comments page */
#watch-response{
    background-color: #1B1B1B !important;
}
#watch-response-header-content p a{
    color: #167AC6 !important;
}
#watch-response-content{
    border: 1px solid #020106 !important;
}

/*Viewing history */
#browse-items-primary .item-section>li>.yt-lockup-tile {
    border-bottom: 1px solid #020106 !important;
}

/* Similar searches */
.search-exploratory-line{
    border-top: 1px solid #020106 !important;
}
.search-exploratory-line h3{
    color: #ABABAB !important;
}

/* New comments format */
.comment-simplebox-renderer {
    border-bottom: 1px solid #020106 !important;
}
.comment-simplebox-renderer-collapsed-content {
    border: 1px solid #020106 !important;
    border-top: 1px solid #020106 !important;
}
.comment-simplebox {
    background-color: #1B1B1B !important;
}
.comment-simplebox-frame {
    border: 1px solid #020106 !important;
}
.comment-simplebox.focus .comment-simplebox-frame {
    border-color: #167ac6 !important;
}
.comment-simplebox.focus .comment-simplebox-arrow .arrow-outer {
    border-right-color: #167ac6 !important;
    border-top-color: #167ac6 !important;
}
.comment-simplebox-arrow .arrow-inner {
    border: 7px solid #1B1B1B !important;
}
.comment-simplebox-arrow .arrow-outer {
    border: 6px solid #020106 !important;
}
.comment-simplebox-arrow .arrow-inner,
.comment-simplebox-arrow .arrow-outer {
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}
.comment-simplebox-text,
.comment-simplebox-prompt {
    background-color: #8D8D8D !important;
    color: #f1f1f1 !important;
}
.comment-simplebox-text:empty:after {
    color: #020106 !important;
}

.sprite-like-dislike{
    background-color: #B8B8B8 !important;
}

.channel-header .secondary-header-contents{
    background: #1B1B1B !important;
    border-bottom: 1px solid #020106 !important;
}
.channel-header .secondary-header-contents a .nav-text {
    color: #F1F1F1 !important;
}

.c4-checklist-module {
    border: 1px solid #020106 !important;

}
.c4-checklist-module .todo-title-text, .view-as-menu-text{
    color: #ABABAB !important;  /* good to use on non highlighted (standard) text*/
}

.spotlight-editor-tabs .yt-uix-tabs-selected{
    color: #F1F1F1 !important;
}

.empty-upsell-messages h2, .empty-upsell-messages p{
    color: #ABABAB !important;
}

/* Icon color fixes */
#action-panel-overflow-button:before,
#channel-search .show-search .search-icon,
#comment-section-renderer .sprite-dislike:before,
#comment-section-renderer .sprite-like:before,
#creator-sidebar .studio-icon,
#pl-header .playlist-share:before,
.action-panel-trigger-overflow:before,
.action-panel-trigger-report:before,
.action-panel-trigger-stats:before,
.action-panel-trigger-transcript:before,
.addto-button:before,
.autoplay-info-icon,
.creator-editor-icon-captions,
.creator-editor-icon-cards,
.creator-editor-icon-edit,
.creator-editor-icon-endscreen,
.creator-editor-icon-enhance,
.like-button-renderer-dislike-button:before,
.like-button-renderer-like-button:before,
.play-all-icon-btn:before,
.yt-help-icon,
.yt-uix-button-action-menu:before,
.yt-uix-button-icon-annotation-delete,
.yt-uix-button-icon-annotation-edit,
.yt-uix-button-icon-annotation-results,
.yt-uix-button-icon-bell,
.yt-uix-button-icon-material-upload,
.yt-uix-button-icon-creator-editor-back,
.yt-uix-button-icon-footer-history,
.yt-uix-button-icon-footer-language,
.yt-uix-button-icon-icon-account-settings,
.yt-uix-button-icon-questionmark,
.yt-uix-button-icon-view-list,
.yt-uix-button-icon-view-module,
.yt-uix-button-lockup-action-menu:before,
.yt-uix-subscription-preferences-button:before {
    filter: invert() !important;
}

.creator-editor-icon-audio {
    filter: invert(0.8) !important;
}

.action-panel-trigger-share:before {
    filter: invert(0.661) !important;
}

.vm-video-privacy {
    filter: grayscale() !important;
}

.yt-uix-button-arrow {
    border-top-color: #8D8D8D !important;
}

/* Invert back to normal color if toggeled/hovered */
#comment-section-renderer .sprite-dislike[data-action-on]:before,
#comment-section-renderer .sprite-like[data-action-on]:before,
#creator-sidebar .creator-sidebar-section a:hover > .studio-icon,
#creator-sidebar .studio-icon.selected,
.like-button-renderer-like-button.yt-uix-button.yt-uix-button-toggled:before,
.like-button-renderer-like-button.yt-uix-button:active:before {
    filter: invert() invert() !important;
}

/* Profile Dropdown */
.yt-uix-clickcard-card-border, .yt-uix-hovercard-card-border {
    background: #1B1B1B !important;
}
.yt-masthead-account-picker.yt-uix-clickcard-card-content {
    color: #ABABAB !important;
}
.yt-masthead-picker-footer {
    background-color: #1B1B1B !important;
    border-top: 1px solid rgba(255,255,255,0.2) !important;
}
.yt-uix-clickcard-card-reverse .yt-uix-card-body-arrow-vertical,
.yt-uix-hovercard-card-reverse .yt-uix-card-body-arrow-vertical {
    top: -11px !important;
}
.yt-uix-card-border-arrow-vertical,
.yt-uix-card-body-arrow-vertical {
    bottom: -11px !important;
}
/* /Profile Dropdown */

/* Cards */
.iv-card-content {
    background: #1B1B1B !important;
}
.iv-card h2 {
    color: #ABABAB !important;
}
.iv-card-poll label {
    color: #767676 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTciIHZlcnNpb249IjEuMSIgd2lkdGg9IjE3Ij48Y2lyY2xlIGN4PSI4LjUiIGN5PSI4LjUiIGZpbGw9Im5vbmUiIHI9IjcuNiIgc3Ryb2tlPSIjYWJhYmFiIiBzdHJva2Utb3BhY2l0eT0iMC41NCIgc3Ryb2tlLXdpZHRoPSIxLjgiIC8+PC9zdmc+) !important;
}
.iv-card-poll.iv-card-poll-voted label.iv-card-poll-choice-checked {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTciIHZlcnNpb249IjEuMSIgd2lkdGg9IjE3Ij48Y2lyY2xlIGN4PSI4LjUiIGN5PSI4LjUiIGZpbGw9Im5vbmUiIHI9IjcuNiIgc3Ryb2tlPSIjMTY3YWM2IiBzdHJva2Utd2lkdGg9IjEuOCIgLz48Y2lyY2xlIGN4PSI4LjUiIGN5PSI4LjUiIGZpbGw9IiMxNjdhYzYiIHI9IjQuMjMiIC8+PC9zdmc+) !important;
}
/* /Cards */

/* Endscreen Cards */
.ytp-ce-expanding-overlay .ytp-ce-expanding-overlay-background {
    background-color: #1B1B1B !important;
}
.ytp-ce-expanding-overlay .ytp-ce-website-title {
    color: #8D8D8D !important;
}
.ytp-ce-expanding-overlay .ytp-ce-website-metadata {
    color: #ABABAB !important;
}
/* /Endscreen Cards */

@media only screen and (max-width:498px) and (min-width:0px), only screen and (max-width:704px) and (min-width:499px) {
    /* Fix Play Logo on smaller screens (scale up and crop white corners) */
    .exp-responsive #yt-masthead #logo-container {
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflh5pqYQ.webp) -442px -126px !important;
        width: 36px !important;
        height: 24px !important;
        transform: scale(1.1) !important;
        border-radius: 4px !important;
    }
}
