.yJa, .BJa, .mj, .WD, .DJa{ /*.d-A-B{*/
    background: #1B1B1B !important;
}
#root{
    border: 1px solid #020106 !important;
}
.ot-hashtag, .proflink, .Mpa, .Ct, .Aq, .d-A, .E5{
    color: #F1F1F1 !important;
}
.d-A:hover{
    background: #8d8d8d !important;
}
.g8b, .f8b{
    border-radius: 8px !important;
    background-color: #282828;
}
.Mga{
    border: none;
}
.E5{
    background-color: #8d8d8d !important;
}
/*this is the search dropdown  some day i'll fix this also */
/*.gssb_m{
    background-color: #8d8d8d !important;
}
*/
